Package: pgcat-hypercloud
Version: ${PACKAGE_VERSION}
Section: database
Priority: optional
Architecture: ${ARCH}
Maintainer: PostgresML <team@postgresml.org>
Replaces: pgcat
Homepage: https://github.com/hyperparam/pgcat
Description: PgCat - NextGen PostgreSQL Pooler - internal fork
 PostgreSQL pooler and proxy (like PgBouncer) with support for sharding, load balancing, failover and mirroring.
